@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    transition: .3s ease-in all;
    -webkit-transition: .3s ease-in all;
    -moz-transition: .3s ease-in all;
    -ms-transition: .3s ease-in all;
    -o-transition: .3s ease-in all;
}

img:hover{
    scale: 100%;
}

.spinner {
    width: 150px;
    height: 150px;
    display: grid;
    border: 7px solid #0000;
    border-radius: 50%;
    border-right-color: #ffc639;
    animation: spinner-a4dj62 1s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 3.5px;
    border: inherit;
    border-radius: 50%;
    animation: spinner-a4dj62 2s infinite;
 }
 
 .spinner::after {
    margin: 14px;
    animation-duration: 3s;
 }
 
 @keyframes spinner-a4dj62 {
    100% {
       transform: rotate(1turn);
    }
 }
 :root:has(.no-doc-scroll) {
   overflow:hidden;
 }

 .horizontal-scroll::-webkit-scrollbar {
   height: 8px;
   /* background-color: #03346E; */
 }
 .horizontal-scroll::-webkit-scrollbar-thumb{
   background: #6EACDA;
}
 .horizontal-scroll::-webkit-scrollbar-thumb:hover{
   background: #6eabda65;
}
body::-webkit-scrollbar{
   background-color: #03346E;
   width: 8px;
}
body::-webkit-scrollbar-thumb{
   background-color: #6EACDA;
}